.App {
    display: flex;
    justify-content: center;
}

.blocks {
    width: 510px;
    height: 510px;
    display: flex;
    flex-wrap: wrap;
}

.block {
    width: 100px;
    height: 100px;
    border: 1px solid gray;
    box-sizing: border-box;
}
